@rendermode InteractiveServer

@using FriendStuff.Dto;
@using FriendStuff.Services;
@inject IUserService UserService;
@inject NavigationManager Navigation;
@inject ILoginProcessingService LoginProcessingService

<div class="form-container">
    @if (IsRegisterPage)
    {
        <h2>Register</h2>
        <EditForm Model="UserDataRegister" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <div>
                <label for="FirstName">First Name</label>
                <InputText id="FirstName" required placeholder="First Name" @bind-Value="UserDataRegister.FirstName" />
            </div>
            <div>
                <label for="LastName">Last Name</label>
                <InputText id="LastName" required placeholder="Last Name" @bind-Value="UserDataRegister.LastName" />

            </div>
            <div>
                <label for="Username">Username</label>
                <InputText id="Username" required placeholder="Username" @bind-Value="UserDataRegister.Username" />

            </div>
            <div>
                <label for="Email">Email</label>
                <InputText id="Email" type="email" required placeholder="Email" @bind-Value="UserDataRegister.Email" />

            </div>
            <div>
                <label for="Password">Password</label>
                <InputText id="Password" type="password" required placeholder="Password"
                    @bind-Value="UserDataRegister.Password" />

            </div>
            <div>
                <label for="ConfirmPassword">Confirm Password</label>
                <InputText id="ConfirmPassword" type="password" required placeholder="Confirm Password"
                    @bind-Value="UserDataRegister.ConfirmPassword" />

            </div>
            @if (_errorMessage != "")
            {
                <p class="error">@_errorMessage</p>
            }
            <button type="submit" disabled="@(!_editContext?.Validate())">Register</button>
            <p>Already register? <NavLink href="/account/login">Login</NavLink>
            </p>
        </EditForm>
    }
    else
    {
        <h2>Login</h2>
        <EditForm Model="UserDataLogin" OnValidSubmit="Submit" FormName="LoginForm">
            <DataAnnotationsValidator />
            <div>
                <label for="Username">Username</label>
                <InputText id="Username" required placeholder="Username" @bind-Value="UserDataLogin.Username" />
            </div>
            <div>
                <label for="Password">Password</label>
                <InputText id="Password" type="password" required placeholder="Password"
                    @bind-Value="UserDataLogin.Password" />

            </div>
            @if (_errorMessage != "")
            {
                <p class="error">@_errorMessage</p>
            }
            <button type="submit" disabled="@(!_editContext?.Validate())">Login</button>
            <p>New user? <NavLink href="/account/register">Register</NavLink>
            </p>
        </EditForm>
    }
</div>

@code {
    private EditContext? _editContext;
    private string _errorMessage = string.Empty;
    [Parameter]
    public string? Mode { get; set; }
    [SupplyParameterFromQuery(Name = "error")]
    public string? ErrorUrl { get; set; }
    private bool IsRegisterPage => Mode?.Equals("Register", StringComparison.OrdinalIgnoreCase) ?? false;
    private UserRegisterDto UserDataRegister { get; set; } = new UserRegisterDto();
    private UserLoginDto UserDataLogin { get; set; } = new UserLoginDto();

    protected override void OnParametersSet()
    {
        _errorMessage = string.Empty;
        _editContext = IsRegisterPage ? new EditContext(UserDataRegister) : new EditContext(UserDataLogin);

        if (!string.IsNullOrEmpty(ErrorUrl))
        {
            _errorMessage = ErrorUrl;
        }
    }

    public async Task Submit()
    {
        if (IsRegisterPage)
        {
            try
            {
                await UserService.RegisterUser(UserDataRegister);
                UserDataRegister = new UserRegisterDto();
                Navigation.NavigateTo("/account/login", forceLoad: true);
                StateHasChanged();
            }
            catch (ArgumentException e)
            {
                this._errorMessage = e.Message;
            }
        }
        else
        {
            LoginProcessingService.UserData = UserDataLogin;
            UserDataLogin = new UserLoginDto();
            Navigation.NavigateTo("/account/login/processing", forceLoad: true);
            StateHasChanged();
        }
    }
}
