@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@using FriendStuff.Models;
@using FriendStuff.Dto;
@using FriendStuff.Services;

@rendermode InteractiveServer
@inject IUserService UserService
@inject IGroupService GroupService

@attribute [Authorize]

<section>
    <div>
        <h2>Manage Your Groups and Events</h2>
    </div>
    <h3 style="margin: 20px 0;">My Groups</h3>
    @if (Groups != null && Groups.Count > 0)
    {
        <div class="group-container">
            @foreach (var group in Groups)
            {
                string urlGroup = "/Account/Group/" + group.NormalizeGroupName;
                <NavLink href="@urlGroup" class="group">
                    <p>@group.GroupName</p>
                    <p>@group.NumberMember Members</p>
                </NavLink>
            }
        </div>
    }
    else
    {
        <div style="margin: 20px 0;">Nessun gruppo trovato</div>
    }
    <EditForm Model="GroupData" OnValidSubmit="CreateGroup" FormName="GroupForm">
        <DataAnnotationsValidator />
        <InputText placeholder="Group Name" required @bind-Value="GroupData.GroupName" />
        <button type=" submit">Create</button>
    </EditForm>
    @if (!string.IsNullOrEmpty(error))
    {
        <p style="color: red; margin:10px 0;">@error</p>
    }
</section>
@code {
    [Parameter]
    public UserInfoDto? UserInfo { get; set; }
    [Parameter]
    public List<GroupMemberDto>? Groups { get; set; }
    private string? error = null;
    private GroupDto GroupData { get; set; } = new GroupDto();
    public async Task CreateGroup()
    {
        try
        {
            if (UserInfo != null)
            {
                if (!string.IsNullOrEmpty(UserInfo.Username))
                {
                    await GroupService.CreateGroup(GroupData.GroupName, UserInfo.Username);
                    GroupData = new GroupDto();
                    Groups = await UserService.GetGroups(UserInfo.Username);
                }
            }
        }
        catch (ArgumentException e)
        {
            error = e.Message;
        }
    }
}