 h2 {
     font-size: 2rem;
     margin: 20px 0;
 }

 ::deep form {
     display: flex;
     flex-direction: row;
     justify-content: start;
     align-items: center;
 }

 ::deep form input {
     padding: 6px;
     background-color: rgb(250, 226, 217);
     border: 2px solid var(--txt-color);
     margin-right: 10px;
 }

 ::deep input:focus {
     outline: 1px solid var(--accent-color);
 }

 .error {
     color: #ff0000;
     font-size: 0.9rem;
     font-weight: bold;
     background-color: #4e0d0d;
     margin: 5px 0 10px 0;
     text-align: left;
 }

 .group-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
     gap: 20px;
     width: 100%;
     padding: 20px 0;
     margin: 0;
 }

 .group {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: start;
 }

 @media screen and (max-width: 600px) {

     .group-container {
         grid-template-columns: 1fr;
     }
 }