@using Microsoft.AspNetCore.Authorization;
@using FriendStuff.Dto;
@using FriendStuff.Services;

@rendermode InteractiveServer
@inject IUserService UserService
@inject IGroupService GroupService

@attribute [Authorize]

<section>
    <h2>Manage Your Groups and Events</h2>
    <hr>
    <h3 style="margin-top: 20px;">My Groups</h3>
    @if (UserGroups is { Count: > 0 })
    {
        <div class="group-container">
            @foreach (var group in UserGroups)
            {
                var urlGroup = "/account/group/" + group.NormalizeGroupName;
                <NavLink href="@urlGroup" class="group">
                    <p>@group.GroupName</p>
                    <p>@group.NumberMember Members</p>
                </NavLink>
            }
        </div>
    }
    else
    {
        <div style="margin: 20px 0;">No group found</div>
    }
    <EditForm Model="GroupData" OnValidSubmit="CreateGroup" FormName="GroupForm">
        <DataAnnotationsValidator />
        <InputText placeholder="Group Name" required @bind-Value="GroupData.GroupName" />
        <button type="submit">Create</button>
    </EditForm>
    @if (!string.IsNullOrEmpty(_error))
    {
        <p style="color: red; margin:10px 0;">@_error</p>
    }
</section>
@code {
    [Parameter]
    public UserInfoDto? UserInfo { get; set; }
    [Parameter]
    public List<GroupMemberDto>? UserGroups { get; set; }
    private string? _error;
    private GroupDto GroupData { get; set; } = new GroupDto();
    public async Task CreateGroup()
    {
        try
        {
            if (UserInfo != null)
            {
                if (!string.IsNullOrEmpty(UserInfo.Username))
                {
                    await GroupService.CreateGroup(GroupData.GroupName, UserInfo.Username);
                    GroupData = new GroupDto();
                    UserGroups = await UserService.GetGroups(UserInfo.Username);

                }
            }
        }
        catch (ArgumentException e)
        {
            _error = e.Message;
        }
    }
}