@using FriendStuff.Dto;

@inherits LayoutComponentBase
@rendermode InteractiveServer

<nav>
    @if (!string.IsNullOrEmpty(CurrentUser))
    {
        <button type="button" @onclick:preventDefault @onclick="SidebarState">@CurrentUser</button>
        <Sidebar IsOpen="@_isSidebarOpen" UserInfo="@UserInfo" />
    }
    else
    {
        <NavLink href="/account/register">Register</NavLink>
        <NavLink href="/account/login">Login</NavLink>
    }
</nav>

@code {
    private bool _isSidebarOpen;
    [Parameter]
    public string? CurrentUser { get; set; }
    [Parameter]
    public UserInfoDto? UserInfo { get; set; }

    private void SidebarState()
    {
        this._isSidebarOpen = !this._isSidebarOpen;
    }

}
