@using FriendStuff.Components.Shared
@using Microsoft.AspNetCore.Components.Authorization
@using FriendStuff.Dto;

@inherits LayoutComponentBase
@rendermode InteractiveServer

<nav>
    @if (CurrentUser != null)
    {
        <button type="button" @onclick:preventDefault @onclick="SidebarState">@CurrentUser</button>
        <Sidebar IsOpen="@isSidebarOpen" UserInfo="@UserInfo" />
    }
    else
    {
        <NavLink href="/Account/Register">Register</NavLink>
        <NavLink href="/Account/Login">Login</NavLink>
    }
</nav>

@code {
    private bool isSidebarOpen;
    [Parameter]
    public required string CurrentUser { get; set; }
    [Parameter]
    public UserInfoDto? UserInfo { get; set; }

    public void SidebarState()
    {
        this.isSidebarOpen = !this.isSidebarOpen;
    }

}
