* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #181818;
    --txt-color: #f7f7f7;
    --accent-color: #ff5722;
    --hover-color: #ffeb3b;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color);
}

a {
    text-decoration: none;
}

a,
button {
    font-family: "Roboto", sans-serif;
    padding: 8px 16px;
    color: var(--txt-color);
    background-color: transparent;
    border: 1px solid var(--txt-color);
    transition: background-color 0.2s ease-in-out;
}

a:hover,
button:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}

a:active,
button:active {
    transform: scale(0.95);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    text-wrap: balance;
}

@media screen and (max-width:600px) {
    .container {
        width: 100%;
        justify-content: center;
    }
}