@using FriendStuff.Components.Shared
@using Microsoft.AspNetCore.Components.Authorization
@using FriendStuff.Services;
@using FriendStuff.Dto;


@inherits LayoutComponentBase
@inject IUserService UserService;

<header>
    <h1>
        <NavLink href="/">Friend Stuff</NavLink>
    </h1>
    <NavMenu CurrentUser="@_currentUser" UserInfo="@_userInfo" />
</header>

<main class="container">
    <CascadingValue Name="UserInfo" Value="_userInfo">
        <CascadingValue Name="UserGroups" Value="_userGroups">
            @Body
        </CascadingValue>
    </CascadingValue>
</main>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }
    private string? _currentUser;
    private UserInfoDto? _userInfo;
    private List<GroupMemberDto>? _userGroups;

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationState != null)
        {
            var authState = await AuthenticationState;
            _currentUser = authState.User.Identity?.Name;
            if (_currentUser != null)
            {
                _userInfo = await UserService.GetUserInfo(_currentUser);
                _userGroups = await UserService.GetGroups(_currentUser);
            }
        }
    }
}